doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        div#world
        script(src='bower_components/phaser-official/build/phaser.js')
        script(src='/socket.io/socket.io.js')


        script(src='js/Tank.js')
        script(src='js/Bullet.js')
        script(src='js/main.js')